<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Seq server</title>
  </head>
  <body>
    <h1>Seq server</h1>
    <p>Access to the server</p>
    <hr>
    <form action="ping" method="get">
        Is the server available?: <input type="submit" value="PING">
    </form>
    <hr>
    <form action="get" method="get">
        Get a Sequence. Select sequence number:
      <select name="sequence">
        {% for n in range(0, context.n_sequences) %}
          <option value="{{n}}">{{n}}</option>
        {% endfor %}
      </select>
      <input type="submit" value="GET">
    </form>
    <hr>
     <form action="gene" method="get">
        Get a Sequence. Select sequence number:
        <select name="gene">
        {% for n in context.list_genes%}
          <option value="{{n}}">{{n}}</option>
        {% endfor %}
        </select>
      <input type="submit" value="GENE">
    </form>
    <hr>
        <form action="operation" method="get">
            Write a sequence:   <input type="text" name="sequence"> <br>
            Select operation:
            {% for n in context.option_name %}
                <input type="radio" name=operation value="{{n}}"> {{n}}
            {% endfor %}
          <input type="submit" value="OPERATE">
        </form>
    </body>
</html>